$color-principal: #F5CB5C;
$color-fondo-oscuro: #CFDBD5;
$color-fondo-claro: #E8EDDF;
$color-nav: #242423;
$color-fuente: #333533;

$font-principal: 'Roboto', sans-serif;
$font-secundario: 'Playfair Display', serif;

